<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Godzilla vs. Kong</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="featured">
    <ion-img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/pgqgaUx1cJb5oZQQ5v0tNARCeBp.jpg"></ion-img>
    <div>
      <span class="movie-title">Godzilla vs. Kong</span><span>(2021)</span>
    </div>
    <div>
      <ion-note>PG-13 | 2021-03-24 | English</ion-note>
    </div>
  </div>
  <ion-list class="ion-margin-top">
    <ion-item-divider>
      <ion-label>Overview</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <p>In a time when monsters walk the Earth, humanity’s fight for its future sets Godzilla and Kong on a collision course that will see the two most powerful forces of nature on the planet collide in a spectacular battle for the ages.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-grid class="ion-no-padding ion-padding">
      <ion-row>
        <ion-col>
          <div>Adam Wingard</div>
          <ion-note>Director</ion-note>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid class="ion-no-padding ion-padding">
      <ion-row>
        <ion-col class="ion-margin-bottom">
          <div>Terry Rossio</div>
          <ion-note>Writer</ion-note>
        </ion-col>
        <ion-col>
          <div>Michael Dougherty</div>
          <ion-note>Writer</ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-margin-bottom">
          <div>Eric Pearson</div>
          <ion-note>Writer</ion-note>
        </ion-col>
        <ion-col>
          <div>Max Borenstein</div>
          <ion-note>Writer</ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>Zach Shields</div>
          <ion-note>Writer</ion-note>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid class="ion-no-padding ion-padding">
      <ion-row>
        <ion-col class="ion-margin-bottom">
          <div>Alexander Skarsgård</div>
          <ion-note>Cast</ion-note>
        </ion-col>
        <ion-col>
          <div>Millie Bobby Brown</div>
          <ion-note>Cast</ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>Rebecca Hall</div>
          <ion-note>Cast</ion-note>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
