<ion-content class="ion-padding-top" fullscreen="true">
  <form #f="ngForm" (ngSubmit)="onLogin(f)" novalidate>
    <div class="ion-padding ion-margin-top">
      <h1>Sign In</h1>
    </div>
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input placeholder="Email" [clearInput]="true" type="email" name="email" ngModel email required #email="ngModel"></ion-input>
      <ion-note slot="error" *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors?.['required']">Email is required</span>
        <span *ngIf="email.errors?.['email']">Email is invalid</span>
      </ion-note>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input placeholder="Password (at leat 8 characters)" minlength="8" [clearInput]="true" type="password" name="password" ngModel password required #password="ngModel">
      </ion-input>
      <ion-note slot="error" *ngIf="password.invalid && (password.dirty || password.touched)">
        <span *ngIf="password.errors?.['required']">Password is required</span>
        <span *ngIf="password.errors?.['minlength']">Password must be at least 8 characters long</span>
      </ion-note>
    </ion-item>

    <div class="ion-padding">
      <ion-button [disabled]="f.invalid" shape="round" expand="block" type="submit" color="primary">Sign in</ion-button>
    </div>

    <div class="ion-text-center">
      <ion-button routerLink="/forgot-password" fill="clear" class="ion-no-padding">Forgot password?</ion-button>

      <div class="btn-signup">Don't have an account? <ion-text color="primary" routerLink="/signup">Sign Up</ion-text></div>
    </div>
  </form>
</ion-content>