<ion-content class="ion-padding-top" fullscreen="true">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate id="form">
    <div class="ion-padding ion-margin-top">
      <h1>Create Profile</h1>
    </div>
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input placeholder="First name" [clearInput]="true" type="text" name="firstName" minlength="3" ngModel required #firstName="ngModel"></ion-input>
      <ion-note slot="error" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <span *ngIf="firstName.errors?.['required']">First name is required</span>
        <span *ngIf="last4SSN.errors?.['minlength']">First name must be at least 3 characters long</span>
      </ion-note>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input placeholder="Last name" [clearInput]="true" type="text" name="lastName" minlength="3" ngModel required #lastName="ngModel"></ion-input>
      <ion-note slot="error" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        <span *ngIf="lastName.errors?.['required']">Last name is required</span>
        <span *ngIf="last4SSN.errors?.['minlength']">Last name must be at least 3 characters long</span>
      </ion-note>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input placeholder="Last 4 SSN" [clearInput]="true" type="number" pattern="[0-9]{4}" name="last4SSN" ngModel required #last4SSN="ngModel"></ion-input>
      <ion-note slot="error" *ngIf="last4SSN.invalid && (last4SSN.dirty || last4SSN.touched)">
        <span *ngIf="last4SSN.errors?.['required']">Last 4 SSN is required</span>
        <span *ngIf="last4SSN.errors?.['pattern']">SSN must be 4 characters long</span>
      </ion-note>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-select placeholder="Gender" interface="action-sheet" okText="Select" cancelText="Cancel" name="gender" ngModel required #gender="ngModel">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
        <span *ngIf="gender.errors?.['required']">Gender is required</span>
      </ion-note>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input placeholder="Date" type="date" name="birthday" ngModel date required #birthday="ngModel">
      </ion-input>
      <ion-note slot="error" *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
        <span *ngIf="birthday.errors?.['required']">Birthday is required</span>
      </ion-note>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input placeholder="Phone" [clearInput]="true" type="phone" name="phone" ngModel phone required #phone="ngModel"></ion-input>
      <ion-note slot="error" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <span *ngIf="phone.errors?.['required']">Phone is required</span>
      </ion-note>
    </ion-item>
  </form>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button [disabled]="f.invalid" shape="round" color="primary" expand="block" type="submit" form="form" class="ion-no-margin">Save Profile</ion-button>
</ion-footer>