<ion-content class="ion-padding-top" fullscreen="true">
  <div class="ion-padding ion-margin-vertical">
    <h1>Default Agency</h1>
    <ion-text>Please select default agency.</ion-text>
  </div>
  <ion-list>
    <ion-radio-group value="1" [(ngModel)]="selectedAgency">
      <ion-item lines="none" class="ion-margin-bottom ion-margin-horizontal">
        <ion-label class="ion-align-items-center">Northeast Homecare Services (Victor Office)</ion-label>
        <ion-radio slot="end" value="1"></ion-radio>
      </ion-item>

      <ion-item lines="none" class="ion-margin-bottom ion-margin-horizontal">
        <ion-label class="ion-align-items-center">Duo Tone Caregiver Services (Boston Office)</ion-label>
        <ion-radio slot="end" value="2"></ion-radio>
      </ion-item>

      <ion-item lines="none" class="ion-margin-bottom ion-margin-horizontal">
        <ion-label class="ion-align-items-center">Jhonson&Jhonson Services (Boston Office)</ion-label>
        <ion-radio slot="end" value="3"></ion-radio>
      </ion-item>

      <ion-item lines="none" class="ion-margin-bottom ion-margin-horizontal">
        <ion-label class="ion-align-items-center">Senior Care - PA</ion-label>
        <ion-radio slot="end" value="4"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button (click)="apply()" [disabled]="!selectedAgency" shape="round" color="primary" expand="block" class="ion-no-margin">Apply</ion-button>
</ion-footer>