<ion-header>
  <ion-toolbar>
    <ion-title>Agency Selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-list-header color="light">
      <ion-label>Please select your agency</ion-label>
    </ion-list-header>
    <ion-item color="light" button detail="true" [routerLink]="['/homepage/1']">
      <ion-label>Northeast Homecase Services (Victor's Office)</ion-label>
    </ion-item>
    <ion-item color="light" button detail="true" [routerLink]="['/homepage/2']">
      <ion-label>Senior Care - PA</ion-label>
    </ion-item>
  </ion-list>
</ion-content>